h1 { 
    text-align: center;
    font-family: 'Trebuchet MS';
}



.botao{ 
    padding: 20px;
    background-color:gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    border-radius: 10px;
    
}


.botao:hover{
    background-color: rgb(216, 3, 3);
}

.janela_escura{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(70,50,50,80%);
    top: 0;
    left: 0;
    visibility: hidden;
}

@keyframes abrir_modal{
    from{ /*Começa com*/
        opacity: 0.0;
        width: 0px;
        height: 0px;
    }
    to{ /*Termina com*/
        opacity: 1.0;
        width: 615px;
        height: 615px;   
    }
}



.modal, .imagem{
    width: 615px;
    height: 615px;
    background-color: #FFF;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    animation-name: abrir_modal;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    
}

.imagem{
    width: 570px;
    height: 570px;
}

.fechar {
    width: 20px;
    height: 20px;
    background-color: #fff;
    float: right;
    cursor: pointer;
    border: 1px solid;
}